* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
}

.container {
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
}
.btn {
  display: flex;
  height: 100%;
  width: 340px;
  flex-grow: 1;
}

.btn span {
  opacity: 0;
}

#bg-value {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
