body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.containers {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-wrap: nowrap;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 340px;
  flex-grow: 1;
}

.btn span {
  align-items: center;
  opacity: 1;
}

#bg-value {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
